<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="~{head}"></fragment>
    <link rel="stylesheet" type="text/css" href="/css/wardrobe.css" />
</head>
<body>
    <fragment th:replace="~{navigation}"></fragment>

    <div class="container">
        <fragment th:replace="~{wardrobe/additem}"></fragment>

        <!-- Wardrobe -->
        <div th:if="${category.size != 0}" th:each="category: ${wardrobe.categories}">
            <span class="navbar-text" th:text="${category.name}"></span>
            <div th:if="${subcategory.items.size != 0}" th:each="subcategory: ${category.subcategories}">
                <span class="badge text-bg-primary" th:text="${subcategory.name}"></span>
                <div class="row row-cols-5">
                    <div class="col item" th:each="item: ${subcategory.items}">
                        <span th:text="${item.name}"></span>
                        <span th:text="${item.size}"></span>
                        <span th:each="season: ${item.seasons}">
                            <span th:text="${season}"></span>
                        </span>
                        <img th:src="@{'http://localhost:8080'+${item.imagePath}}" th:alt="${item.imagePath}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>