<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="~{head}"></fragment>
    <link rel="stylesheet" type="text/css" href="/css/wardrobe.css" />
</head>
<body>
    <fragment th:replace="~{navigation}"></fragment>

    <div class="container">
        <fragment th:replace="~{wardrobe/additem}"></fragment>

        <!-- Wardrobe -->
        <div class="category mb-2" th:if="${category.size != 0}" th:each="category: ${wardrobe.categories}">
            <!--<header class="d-flex justify-content-center py-3 bg-light-subtle" th:text="${category.name}"></header>-->
            <div class="p-1 bg-light-subtle" th:if="${subcategory.items.size != 0}" th:each="subcategory: ${category.subcategories}">
                <span class="badge text-bg-primary" th:text="${subcategory.name}"></span>
                <div class="row">
                    <div class="d-contents" th:each="item: ${subcategory.items.values}">
                        <div class="card m-2">
                            <img class="card-img-top" th:src="@{'/data/img/'+${item.imageFilename}}" th:alt="${item.name}"/>
                            <div class="card-overlay">
                                <button class="btn btn-outline-warning btn-sm item-edit" data-bs-toggle="modal" th:data-bs-target="${'#editItemModal' + item.id}">Edit</button>
                                <div class="card-info">
                                    <h5 class="card-title p-2"th:text="${item.name}"></h5>
                                    <span class="badge text-bg-success item-size" th:text="${'Size: ' + item.size}"></span>
                                    <div class="season-icons">
                                        <img th:class="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Spring'].isEmpty() ? 'spring normal' : 'spring greyscale'}" th:src="@{'/data/img/internal/spring.webp'}"/>
                                        <img th:class="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Summer'].isEmpty() ? 'summer normal' : 'summer greyscale'}" th:src="@{'/data/img/internal/summer.webp'}"/>
                                        <img th:class="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Autumn'].isEmpty() ? 'autumn normal' : 'autumn greyscale'}" th:src="@{'/data/img/internal/autumn.webp'}"/>
                                        <img th:class="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Winter'].isEmpty() ? 'winter normal' : 'winter greyscale'}" th:src="@{'/data/img/internal/winter.webp'}"/>
                                    </div>
                                </div>
                            </div>
                            <!-- Update Modal -->
                            <div class="modal fade" th:id="${'editItemModal' + item.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Item</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form class="mb-0" th:action="@{/api/v1/wardrobe/update}" enctype="multipart/form-data" method="post">
                                            <input type="hidden" name="id" th:value="${item.id}">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="itemNameInput" class="form-label">Name</label>
                                                    <input id="itemNameInput" class="form-control" type="text" name="name" th:value="${item.name}" aria-describedby="nameHelp">
                                                    <div id="nameHelp" class="form-text"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="itemCategory" class="form-label">Category</label>
                                                    <select id="itemCategory" class="form-select" name="subcategory" aria-label="Category">
                                                        <th:block th:each="category: ${wardrobe.categories}">
                                                            <option class="muted text-center" th:value="${category.name}" th:text="${category.name}" disabled></option>
                                                            <option th:value="${subcategory.name}" th:text="${subcategory.name}" th:each="subcategory: ${category.subcategories}" th:selected="${subcategory.name} == ${item.subcategory} ? true : false">
                                                        </th:block>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="itemSizeInput" class="form-label">Size</label>
                                                    <input id="itemSizeInput" class="form-control" type="number" min="0" max="100" th:value="${item.size}" name="size">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="itemImage" class="form-label">Image [3:4]</label>
                                                    <input id="itemImage" class="form-control" type="file" accept="image/*" name="image">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label d-block">Season</label>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" name="seasons[]" value="Spring" id="seasonSpring" th:checked="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Spring'].isEmpty()}">
                                                        <label class="form-check-label" for="seasonSpring">Spring</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" name="seasons[]" value="Summer" id="seasonSummer" th:checked="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Summer'].isEmpty()}">
                                                        <label class="form-check-label" for="seasonSummer">Summer</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" name="seasons[]" value="Autumn" id="seasonAutumn" th:checked="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Autumn'].isEmpty()}">
                                                        <label class="form-check-label" for="seasonAutumn">Autumn</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" name="seasons[]" value="Winter" id="seasonWinter" th:checked="${#lists.size(item.seasons) > 0 && not item.seasons.?[name == 'Winter'].isEmpty()}">
                                                        <label class="form-check-label" for="seasonWinter">Winter</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Update Modal End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>