.d-contents {
    display: contents!important
}

.row {
    justify-content: space-around;
}

.card {
    position: relative;
    width: 15rem;
}

.itemsize {
    position: absolute;
    top: 5px;
    right: 5px;
}