<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="~{head}"></fragment>
    <link rel="stylesheet" type="text/css" href="/css/wardrobe.css" />
</head>
<body>
    <fragment th:replace="~{navigation}"></fragment>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3" th:if="${category.size != 0}" th:each="category: ${wardrobe.categories}">
            <span th:text="${category.name}"></span>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:if="${subcategory.items.size != 0}" th:each="subcategory: ${category.subcategories}">
                    <div class="card">
                        <span th:text="${subcategory.name}"></span>
                        <div class="item" th:each="item: ${subcategory.items}">
                            <span th:text="${item.name}"></span>
                            <img th:src="@{'http://localhost:8080'+${item.imagePath}}" th:alt="${item.imagePath}"/>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>